@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fond noir */
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

h1 {
    color: #fff; /* Texte blanc */
    text-align: center;
    padding: 30px;
    margin: 0;
}

.container {
    max-width: 800px; /* Ajustement de la largeur */
    margin: 0 auto;
    padding: 20px;
    background-color: #000; /* Fond noir */
}

.contain {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000; /* Fond noir */
}

form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #fff; /* Texte blanc */
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #e50914; /* Bordure rouge Netflix */
    border-radius: 5px;
    font-size: 16px;
    margin: 15px;
    background-color: #000; /* Fond noir */
    color: #fff; /* Texte blanc */
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e50914; /* Rouge Netflix */
    border: none;
    border-radius: 5px;
    color: #fff; /* Texte blanc */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

input[type="submit"]:hover {
    background-color: #f40612; /* Rouge plus foncé au survol */
}

.series-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.series-item {
    width: auto;
    margin: 15px;
    background-color: #000; /* Fond noir */
    border: 1px solid #212121;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(89, 88, 88, 0.1);
    overflow: hidden;
}

.series-item:hover{
    transform :translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

.series-image {
    width: 180px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.series-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    color: #fff; /* Texte blanc */
}

.series-link{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 15px;
    background-color: #e50914; /* Rouge Netflix */
    color: #fff; /* Texte blanc */
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.series-link:hover {
    background-color: #f40612; /* Rouge plus foncé au survol */
}

h2{
    color: white;
}